.login {
    max-width: 300px; /* Define el ancho máximo deseado */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción original */
    border-radius: 10px; /* Aplica bordes redondeados */
}
.dashboard{
    max-width: 180px; /* Define el ancho máximo deseado */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción original */
    border-radius: 10px; /* Aplica bordes redondeados */
}
.icon{
    max-width: 35px; /* Define el ancho máximo deseado */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción original */
    border-radius: 10px; /* Aplica bordes redondeados */ 
}
.logoicon{
    max-width: 35px; /* Define el ancho máximo deseado */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción original */
    border-radius: 10px; /* Aplica bordes redondeados */ 
}
